.contact-section {
    padding: 80px 20px;
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 60px;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #CBD0F7;
}

.contact-section p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #F1F1F1;
    font-weight: 300;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #535C91;
    border-radius: 10px;
    background-color: transparent;
    color: #F1F1F1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
}

    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        color: #CBD0F7;
        opacity: 0.8;
    }

.contact-form button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
