<title>Sang - Inicio</title>
<link href="~/css/Index.css" rel="stylesheet" />
<section class="main-container">
    <div class="welcome-text">
        <h1>¡Bienvenido a nuestro <span>espacio</span>!</h1>
        <p>Tu refugio ideal te espera. Sumérgete en la tranquilidad y reserva tu estadía ahora.</p>
    </div>
    <section class="floating-cards">
        <div class="card center-card">
            <img src="/css/habitacion.jpg"/>
        </div>
        <div class="card small-card top-left">
            <img src="/css/almohadas.jpg"/>
        </div>
        <div class="card small-card bottom-left">
            <img src="/css/calendario.jpg"/>
        </div>
        <div class="card tiny-card mid-left">
            <img src="/css/cama.jpg"/>
        </div>
        <div class="svg-background">
            <svg class="svg-deco deco-1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#9290C3" fill-opacity="0.2" d="M53.1,-66.5C67.2,-55.5,76.2,-36.7,76.4,-18.9C76.6,-1.1,68.1,15.6,57.4,27.2C46.6,38.9,33.6,45.4,19.3,53.2C5,61,-10.6,70,-24.5,67.3C-38.5,64.6,-50.8,50.2,-59.6,34.4C-68.4,18.5,-73.6,1.2,-68.2,-12.9C-62.9,-27,-46.8,-37.8,-32.5,-49.1C-18.2,-60.3,-6,-71.9,10.1,-75.8C26.2,-79.7,52.1,-75.6,53.1,-66.5Z" transform="translate(100 100)" />
            </svg>
            <svg class="svg-deco deco-2" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#535C91" fill-opacity="0.2" d="M47.2,-59.7C61.6,-49.7,73.4,-34.5,72.3,-19.7C71.3,-4.9,57.5,9.5,45.7,23.2C33.9,36.9,24.1,50,10.5,57.7C-3,65.3,-20.5,67.4,-35.4,61.4C-50.3,55.4,-62.7,41.2,-65.6,26.5C-68.5,11.9,-61.9,-3.2,-52.8,-15.2C-43.7,-27.2,-32.1,-36.1,-20.1,-47.2C-8,-58.4,4.5,-71.7,17.8,-72.7C31.1,-73.6,45.2,-62.6,47.2,-59.7Z" transform="translate(100 100)" />
            </svg>
        </div>
    </section>
</section>
<section class="hero-section">
    <div class="hero-content">
        <div class="hero-left">
            <h2>Tu descanso, nuestra prioridad.</h2>
            <p>Disfruta de habitaciones amplias, camas irresistibles y un ambiente acogedor.</p>
            <a asp-controller="Sedes" asp-action="VerSedes">Ver sedes <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="64" stroke-dashoffset="64" d="M3 12c0 4.97 4.03 9 9 9c4.97 0 9 -4.03 9 -9c0 -4.97 -4.03 -9 -9 -9c-4.97 0 -9 4.03 -9 9Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0" /></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M7 12h9.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="12;0" /></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M17 12l-4 4M17 12l-4 -4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="8;0" /></path></g></svg></a>
        </div>
        <div class="hero-center">
            <div class="hero-image-wrapper">
                <img src="~/css/sofa.png" class="hero-image" />
                <h1 class="hero-title">Comodidad</h1>
            </div>
        </div>
        <div class="hero-right">
            <h2>La habitación perfecta te espera.</h2>
            <p>Elige entre una variedad de espacios pensados para cada estilo y necesidad.</p>
            <a href="">Reservar <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="64" stroke-dashoffset="64" d="M3 12c0 4.97 4.03 9 9 9c4.97 0 9 -4.03 9 -9c0 -4.97 -4.03 -9 -9 -9c-4.97 0 -9 4.03 -9 9Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0" /></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M7 12h9.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="12;0" /></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M17 12l-4 4M17 12l-4 -4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="8;0" /></path></g></svg></a>
        </div>
    </div>
</section>